header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333; /* Light background color */
    border-bottom: 4px solid #d8cbb6; /* Subtle border at the bottom */
    color: #fff;
    border-radius: 6px;
    line-height: 80px;
}

.logo h1 {
    font-size: 30px;
    color: #fff;
    margin: 0;
    float: left;
}
nav ul li{
    display: inline;
    list-style: none
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4em;
    padding: 15px;
}
.search {
    float: right;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search label {
    font-size: 20px;
    color: #fff;
}

.search input {
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid #d8cbb6;
    border-radius: 4px;
}

.search input:focus {
    border-color: #007bff;
    outline: none;
}
.parent {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    height: 400px;          /* Ensure parent has height */
    border-bottom: 4px solid #d8cbb6;
    background-image: url(blur2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    margin-top: 10px;
}
.child{
    color: #fff;
    font-size: 1.6em;
}
.parent2{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.div1, .div2, .div3, .div4, .div5 {
    height: 300px;
    width: 300px;
    margin-top: 50px;
    border-bottom: 4px solid #d8cbb6;
    border-radius: 10px;
}
.div1{
    background-image: url(bg2.png);
    background-size: cover;
}
.div2{
    background-image: url(bg3.png);
    background-size: cover;
}
.div3{
    background-image: url(bg5.jpg);
    background-size: cover;
}
.div4{
    background-image: url(bg6.jpg);
    background-size: cover;
}
.div5{
    background-image: url(bg7.jpg);
    background-size: cover;
}